<html>
	<head>
		<title>Post Sumbitter</title>
	</head>
	<body>
		<h1>This should be a Title</h1>
		<p>This should be a paragraph.</p>

	<form action="/create" method="POST">
	  Title: <input type="text" name="title"><br>
	  Body: <input type="text" name="body"><br>
	  <input type="submit" value="Submit">
	</form>

	</body>
</html>